
<div class= 'text-center'>
<%= form_for @task do |task| %>
<%= task.label :title %>
<%= task.text_field :title %>

<%= task.label :details %>
<%= task.text_field :details %>

<%= task.label :completed %>
<%= task.check_box :completed %>

<%= if current_page?(edit_task_path(@task)) %>
  <%= task.submit "Update", class: "btn btn-primary" %>
<%= elsif current_page?(task_path(@task)) %>
  <%= task.submit "Create", class: "btn btn-primary" %>
<% end %>
<% end %>


<%= link_to "Cancel", tasks_path, class: "btn btn-primary"%>

</div>
